:root {
    --off-black--: rgba(40, 36, 40, 1);
    --pri-color--: rgba(128, 0, 128, 1);
    --sec-color--: rgba(166, 111, 166, 1);
    --ter-color--: rgba(137, 129, 137, 0.8);
}

body {
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.main_card {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 40px auto;
    min-width: 290px;
    padding: 0 40px 40px 40px;
    background-color: white;
    color: var(--off-black--);
}

header h1 {
    width: 100%;
    font-size: 32px;
    font-weight: 300;
}

/******************************
**     New Input Section     **
*******************************/

#new_input_form label {
    font-size: 16px;
    font-weight: 100;
    color: var(--ter-color--);
    position: relative;
    top: 27px;
    left: 8px;
}

@keyframes shift_up {
    0% {top: 27px; left: 8px;}
    100% {top: -8px; left: 0;}
}

@keyframes shift_down {
    0% {top: 0; left: 0;}
    100% {top: 27px; left: 8px;}
}

#new_input_form label:hover {
    cursor: text;
}

#new_task {
    border: 0;
    border-bottom: 2px solid var(--sec-color--);
    width: 100%;
    background-color: white;
    font-size: 16px;
    padding: 8px;
}

#new_task:hover {
    cursor: text;
}

#new_task:focus {
    outline: none;
}

#new_input_form .btn {
    background-color: var(--pri-color--);
    color: whitesmoke;
    width: fit-content;
    border: none;
    padding: 8px 24px;
    margin: 32px 0;
    border: 2px solid var(--pri-color--);
    border-radius: 24px;
}

#new_input_form .btn:hover {
    background-color: white;
    color: var(--pri-color--);
    cursor: pointer;
}

#new_input_form .btn:focus {
    outline: none;
}

/*********************************
**     Current List Section     **
**********************************/

.current-list h2 {
    font-size: 24px;
    font-weight: 600;
}

.tasks {
    padding-left: 0;
}

.tasks .task {
    display: grid;
    grid-template-columns: repeat(50, auto);
    grid-template-rows: 1;
    list-style: none;
    margin-top: 16px;
    padding: 16px 0;
    border-bottom: 1px solid var(--ter-color--);
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-name: hide;
    animation-play-state: paused;
}

askLabel.style.animationDuration = '0.1s';
    taskLabel.style.animationTimingFunction = 'linear';
    taskLabel.style.animationFillMode = 'forwards';
    taskLabel.style.animationName = 'shift_up';

.tick {
    grid-column: 1/3;
    align-self: center;
    width: 16px;
}

.tick:hover {
    cursor: pointer;
}

.fa-check-circle {
    color: green;
}

.task p {
    grid-column: 3/45;
    margin: 0;
}

.delete {
    grid-column: 45/51;
    align-self: center;
    width: 16px;
    color: red;
    justify-self: right;
}

.delete:hover {
    cursor: pointer;
}

@keyframes hide {
    0% {
        opacity: 1;
        height: 100%;
        line-height: 100%;
        padding: 16px 0;
        margin-top: 16px;
    }
    75% {
        opacity: 0;
        height: 100%;
        line-height: 100%;
        padding: 16px 0;
        margin-top: 16px;
    }
    100% {
        opacity: 0;
        height: 0px;
        line-height: 0px;
        padding: 0px;
        margin-top: 0px;
    }
}